# Lexigraph API key
apikey.txt

*.class

# Server SSH Key
google-cloud-trec-key

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IntelliJ
/out/
.idea
*.iml

*.log
*.tmp
*.class
target
*.jar
*.swp
/.classpath
/.project
/.settings

# MacOS stuff
*.DS_Store

# Output folders
stats
results
models

# Big resource files
src/main/resources/genes/*.gene_info*
resources/umlsSynsets.txt.gz
uima/jcore-pmclassifier-ae/src/main/resources/malletPmClassifier*

# May not redistribute
resources/CosmicResistanceMutations.tsv*
src/main/resources/gold-standard/*2019*

# Internal data
src/main/resources/internal
