# Lexigraph API key
apikey.txt

*.class

# Server SSH Key
google-cloud-trec-key

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IntelliJ
/out/
.idea
*.iml

*.log
*.tmp
*.class
target
*.jar
*.swp
/.classpath
/.project
/.settings

# MacOS stuff
*.DS_Store

# Output folders
stats
results
models

# Big resource files
src/main/resources/genes/*.gene_info*

# Resources that are not public yet
resources/abstracts.judgments.2018.csv
resources/clinical_trials.judgments.2018.csv
resources/gs2018DocsJson.zip
src/main/resources/gold-standard/qrels-treceval-abstracts.2018.txt
src/main/resources/gold-standard/qrels-treceval-clinical_trials.2018.txt
resources/20190111processedGoldStandardPub2018.tsv.gz
uima/gsdocids2018.txt
resources/qrels-sample-abstracts.txt
resources/qrels-sample-trials.txt
