<configuration scan="true" scanPeriod="10 seconds">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder
            by default -->
        <encoder>
            <pattern>%d{HH:mm:ss}[%thread] %5p [%-20c{1}] %m%n</pattern>
        </encoder>
    </appender>

    <logger name="at.medunigraz.imi.bst.retrieval.ElasticSearchQuery" level="TRACE"/>
    <logger name="at.medunigraz.imi.bst.trec.search.ElasticSearch" level="TRACE"/>
    <logger name="de.julielab.ir.es.ElasticSearchSetup" level="TRACE"/>
    <logger name="de.julielab.ir.paramopt.EvaluateConfigurationRoute" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
